@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

// bounce 애니메이션 keyframes
@keyframes bounce {
    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

.is-header-hover {
    .btn-sitemap {
        background-image: url(../images/menu-bar-b.png);
        &:hover,
        &:focus,
        &:active {
            background-image: url(../images/menu-bar-h-new.png);
        }
    }
}

.btn-sitemap {
    width: rem(50);
    height: 100%;
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url(../images/menu-bar-w.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: rem(40);
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        background-image: url(../images/menu-bar-h-new.png);
    }
}

.btn-next {
    width: rem(40);
    height: rem(78);
    display: block;
    background-image: url(../images/mouse-logo.png);
    background-size: rem(25);
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: relative;
    &::after {
        content: "";
        width: rem(14);
        height: rem(8);
        background-image: url(../images/cursor-darr.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        bottom: rem(20);
        left: 50%;
        animation: bounce 1.5s ease-in-out infinite;
    }
    &:hover,
    &:focus,
    &:active {
        background-image: url(../images/mouse-logo-h.png);
        &::after {
            background-image: url(../images/cursor-darr-h.png);
        }
    }
}

.btn-square {
    display: inline-block;
    padding: rem(13) rem(17);
    border-radius: rem(6);
    border: 1px solid #fff;
    color: #fff;
    font-family: $font-nanum-gothic;
    font-size: rem(14);
    line-height: 1;
    font-weight: 700;
    &:hover,
    &:focus,
    &:active {
        background-color: $color-white;
        color: $color-primary;
    }
}

.btn-more {
    height: rem(20);
    display: inline-flex;
    align-items: center;
    padding-left: rem(30);
    background-image: url(../images/main/more-plus.png);
    background-size: rem(20);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    font-family: $font-nanum-gothic;
    font-size: rem(16);
    line-height: 1;
    &:hover,
    &:focus,
    &:active {
        background-image: url(../images/main/more-plus-h.png);
        color: $color-secondary;
    }
}

.btn-top {
    width: rem(68);
    height: rem(68);
    display: block;
    background-color: $color-secondary;
    background-image: url(../images/top-uarr.png);
    background-size: rem(14);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    &:hover,
    &:focus,
    &:active {
        background-color: $color-secondary-hover;
    }
}

.btn {
    display: inline-block;
    &.btn--lg {
        padding: rem(18) rem(28);
        border-radius: rem(6);
        font-family: $font-nanum-square;
        font-size: rem(20);
        line-height: 1;
    }
    &.btn--primary {
        background-color: $color-primary;
        color: $color-white;
        &:hover,
        &:focus,
        &:active {
            background-color: $color-primary-hover;
        }
    }
}

@media (max-width: 768px) {
    .btn-next {
        height: rem(63);
        background-size: rem(20);
        &::after {
            width: rem(10);
            height: rem(6);
        }
    }

    .btn-sitemap {
        width: rem(40);
        background-size: rem(30);
    }

    .btn-top {
        width: rem(48);
        height: rem(48);
        background-size: rem(10);
    }

    .btn-square {
        padding: rem(11) rem(14);
        border-radius: rem(4);
        font-size: rem(12);
    }

    .btn-more {
        height: rem(15);
        padding-left: rem(20);
        background-size: rem(15);
        font-size: rem(12);
    }
}
