@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.img {
    &__wrapper {
        &[data-scroll="scroll"] {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}
