@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

img {
    max-width: 100%;
}

#wrap {
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
