@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

html {
    font-size: 62.5%;
}
body {
    min-height: 100vh;
    font-family: $font-main;
    font-size: rem(16);
    letter-spacing: -0.06em;
}

p {
    margin: 0;
    b {
        font-weight: 700;
    }
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-color-em {
    color: $color-em;
}

.text-color-danger {
    color: $color-danger;
}
